# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/
.pub-cache/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Misc
*.log
